.search {
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding: 10px 10px 10px 15px;
    width: 150px;
    line-height: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
}
